body{
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align:center;
}

header{
    background-color:#ff4000;
    color:white;
    padding: 10px;
}

#quiz-box{
    background:white;
    width:50%;
    margin:30px auto;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
}

#timer{
    font-size:18px;
    color:red;
    margin-bottom:10px;
}

#options button{
    display:block;
    width:100%;
    padding:10px;
    margin:5px 0;
    border:none;
    background:#e0e0e0;
    font-size:16px;
    cursor:pointer;
}

#options button:hover{
    background:#90caf9;
}

#feedback{
    font-size:18px;
    font-weight:bold;
}

#nextBtn{
    margin-top:10px;
    padding:10px 20px;
    background:#2196F3;
    color:white;
    border:none;
    cursor:pointer;
}

footer{
    margin-top:20px;
}
