
body{
    margin:0;
    font-family : Arial,sans-serif;
}

.image-container{
    position: relative;
    width:100%;
    height : 100vh;
    overflow: hidden;
}

.image-container img {
width: 100%;
height: 100%;
object-fit: cover;
}
.form-container {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
background-color: rgba(184, 184, 184, 0.9);
padding: 20px;
border-radius: 12px;
box-shadow: -6px 4px 8px rgba(0, 0, 0, 0.2);
width: 300px;
text-align: center;
}
.form-container h2 {
margin-bottom: 41px;
}
.form-container label {
display: block;
font-weight: bold;
margin-bottom: 10px;
}

.form-container input{
    width:100%;
    padding: 10px;
    box-sizing: border-box;
    border:1px solid #d33b3b;
    border-radius: 10%;
}
.form-container button:hover{
    background-color: #00ff37;
}

@media (max-width: 768px){
    .form-container{
        width:90%;
    }
}